.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 16px 32px;
  background-color: #181818;
  z-index: 10;
  height: 80px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}

.logo {
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  color: #ffffff;
}
