.photo {
  max-width: 650px;
  margin-bottom: 24px;
  position: relative;
  overflow: hidden;
  display: block;
  border-radius: 10px;
}

.photo img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 10px;
}

.photo_overlay {
  position: absolute;
  inset: 0;
  display: flex;
  background: rgba(0, 0, 0, 0.3);
  opacity: 0;
  transition: opacity 0.3s ease;
  &:hover {
    opacity: 1;
  }
  align-items: end;
  justify-content: space-between;
}

.photo_photographerLink {
  text-decoration: none;
  color: white;
  margin-bottom: 20px;
  margin-left: 10px;
}

.overlay_button {
  background: rgba(255, 255, 255, 0.952);
  border: none;
  cursor: pointer;
  border-radius: 8px;
  width: 48px;
  height: 48px;
}

.buttons_container {
  display: flex;
  gap: 20px;
  margin-right: 20px;
  margin-bottom: 10px;
}
