.photos_container {
  display: flex;
  justify-content: center;
}

.photos_list {
  display: flex;
  gap: 24px;
  padding: 10px;
  width: 1540px;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex: 1;
}